@import "reset.css";
@import "time.css";
@import "login.css";
@import "todo.css";
@import "search.css";
* {
  box-sizing: border-box;
}

.hidden,
#login-form input:last-child {
  display: none;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: white;
  position: relative;
}
img {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 80%;
  z-index: -1;
}

input:hover::placeholder {
  color: black;
}
#weather {
  position: absolute;
  right: 20px;
  top: 20px;
}
#quote {
  position: absolute;
  bottom: 20px;
  transition: font-size 0.2s ease-out;
}
#quote:hover {
  font-size: large;
}
